# SQL Server DB Config
DB_USER=
DB_PASSWORD=
DB_SERVER= localhost or ip
DB_NAME= name of the db you gonna use
DB_PORT= port for access the db

URL_WEBHOOK=https://webhook.f360.com.br/here-goes-the-fullcash360-properly-url-to-use-with-your-cnpj

# 0 = in prod (Use the db to catch the cnpj from the table cadloj), 1 = Staging (use the .env IS_HOMOLOGACAO variable)
IS_HOMOLOGACAO= 1 (staging) or 0 (in prod)
CNPJ_HOMOLOGACAO= the cnpj for the staging tests